
@{
    ViewBag.Title = "ToDo";
}
<div ng-app="todoApp">
    <div ng-controller="todoListController as tdl">
        <h2>ToDo</h2>
        <p>My ToDo's</p>
        <ul>
            <li ng-repeat="toDo in tdl.toDos" >
                <span>{{toDo.title}}</span>-<span style="{{toDo.overdueStyle}}">{{toDo.formattedDueDate}}</span>
            </li>
        </ul>
    </div>
</div>
